# Bitte nach Installation eintragen
FTP_HOST=ftp.example.com
FTP_USER=meinuser
FTP_PASSWORD=geheimespasswort
FTP_PORT=21

# Verbindung zum Webserver
API_URL = "https://localhost:8000/api/temperatur"
API_KEY = "geheimer-schluessel-hier"