# /etc/systemd/system/mein-dienst.service

[Unit]
Description=Alectryon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=klaus
ExecStart=/home/klaus/PROD/alectryon/scripts/manage.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target